body {
    background-color: #eee;
}
.navbar-default .navbar-brand {
    color: #5e5e5e;
    background-color: rgba(255, 102, 0, 0.80);
}
.navbar-default .navbar-brand:focus {
    color: #5e5e5e;
    background-color: rgba(255, 102, 0, 0.80);
}
.navbar-default .navbar-brand:hover {
    color: rgba(255, 255, 255, 0.66);
    background-color: #5e5e5e;
}
.hu {
    float: left;
    list-style-type: none;
    border-radius: 10px;
}
.hu a {
    color: #fff;
    font-weight: bold;
}
.hu a:hover {
    color: #f60;
    text-decoration:none;
}
.hu a span p {
    width: 120px;
    text-align: center;
}
.out_ring {
    display: block;
    width: 16px;
    height: 16px;
    margin: 3px;
    border-radius: 8px;
    background-color: #DCDCDC;
    float: left;
}
.spsty {
    display: block;
    width: 12px;
    height: 12px;
    margin: 2px;
    border-radius: 6px;
    background-color: rgba(176,196,222,0.8);
}
.p_name {
    text-align: center;
}
.p_name:hover {
    cursor: pointer;
}