{% extends 'base.html' %}
{% block title %}主页{% endblock %}
{% block content %}
    <a>外网延迟： {{ baidu.comment }}</a>
    <div class="container" style="width: 90%">
    	<ul>
            {% for ip in ip_list %}
                <li class="hu" style="width: 150px; margin: 10px;">
                    <a rel="" class="" href="" target="_blank" title="{{ ip.mac }}">
                        {% if ip != 0%}
                            <span class="out_ring">
                                <span class="spsty" name="{{ ip.status }}"></span>
                            </span>
                        {% else %}
                            <span class="out_ring">
                                <span class="spsty" name="{{ ip.status }}"></span>
                            </span>
                        {% endif %}
                        <span>
                            <p>{{ ip.ip }}</p>
                        </span>
                        <div>
                            <p class="p_name">
                                <a>{{ ip.name}}</a>
                            </p>
                        </div>
                    </a>
                </li>
            {% endfor %}
    	</ul>
    </div>
{% endblock %}