{% extends 'base.html' %}
{% block title %}主页{% endblock %}
{% block content %}
    <a title="{{ baidu.ip }}" href="https://www.baidu.com">外网延迟： {{ baidu.comment }}</a>
    <div class="container" style="width: 90%">
    	<ul>
            {% for ip in ip_list %}
                {% if ip.status != '0' %}
                <li class="hu" style="width: 150px;margin: 10px;background: #33cc00;">
                    <a rel="" class="" href="" target="_blank" title="{{ ip.mac }}">
                        <span class="out_ring">
                            <span class="spsty" name="{{ ip.status }}"></span>
                        </span>
                        <span><p>{{ ip.ip }}</p></span>
                        <div><p class="p_name"><a title="{{ ip.mac }}" onclick="startipt(this);">{{ ip.name}}</a></p>
                        </div>
                    </a>
                </li>
                {% else %}
                <li class="hu" style="width: 150px;margin: 10px;background: #2F4F4F;">
                    <a rel="" class="" href="" target="_blank" title="{{ ip.mac }}">
                        <span class="out_ring">
                            <span class="spsty" name="{{ ip.status }}"></span>
                        </span>
                        <span><p>{{ ip.ip }}</p></span>
                        <div><p class="p_name"><a title="{{ ip.mac }}" onclick="startipt(this);">{{ ip.name}}</a></p>
                        </div>
                    </a>
                </li>
                {% endif %}
            {% endfor %}
    	</ul>
    </div>
{% endblock %}